* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#pagesfix footer{
    margin-top: 45%;
}

body {
    background-color: #ffffff;
}

/* Estilos generales para el header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

/* Estilos para el título */
.home__h1 {
    font-size: 1.5em;
    margin: 0;
    margin-left: 1rem;
    text-transform: uppercase;
    color: black;
}

@media (max-width: 768px) {
    .header {
        margin-top: 1.5rem;
    }
}

@media (max-width: 478px){
    .home__h1 {
        font-size: 1.2rem;
    }
}

/* Estilos para el logo */
.header__img {
    height: 2rem;
    position: relative;
    opacity: 0.9;
    border-radius: 5px;
}

/* Estilos para Home */
.home {
    background-image: url(Media/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phrase {
    font-size: 3vw;
    text-align: center;
    color: whitesmoke;
    font-family: 'Delicious Handrawn', cursive;
}

@media (max-width: 768px) {
    .phrase{
        font-size: 1.5rem;
    }
}

/* Estilos para Nosotros */
.nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    height: 15rem;
    background-image: url(Media/dos\ abogados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: whitesmoke;
}

.nosotros__main h2{
    color: black;
}

.nosotros__main{
    margin-top: 5rem;
    color: #777777;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros__h{
    font-size: 5vw;
}

.nosotros__p {
    font-weight: bold;
    text-align: center;
    width: 75%;
    font-size: 1rem;
}

.nosotros__h2 {
    margin-bottom: 3rem;
    margin-top: 5rem;
    font-size: 2vw;
}

@media (max-width: 768px) {
    .nosotros__p {
        font-size: 1.3rem;
    }
    
    .nosotros__h2 {
        font-size: 2rem;
    }
}

@media (max-width: 478px){
    .nosotros__h{
        font-size: 2.5rem;
    }
}
/* Estilos para Servicios */

.servicios__container {
    display: grid;
    grid-template-columns: repeat(6,5% 37% 5% 5% 37% 5%);
    grid-template-rows: repeat(11,25rem 10rem 25rem 10rem 25rem 10rem 25rem 10rem 25rem 10rem 25rem);
    height: 210rem;
}

.servicios__h2__container{
    width: 75rem;
    margin: 0 auto;
    max-width: 90%;
}
.servicios__h2 {
    padding: 1.5rem;
    border-top: 0.1rem solid #8c8c8c;
    border-bottom: 0.1rem solid #8c8c8c;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.servicios__item1, .servicios__item2, .servicios__item3, .servicios__item4, .servicios__item5, .servicios__item6 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 0.6rem groove #909494;
    box-shadow: 0.5rem 0.5rem 0.5rem #8c8c8c;
}

.servicios__item1 {
    grid-column: 2 / 3;
}

.servicios__item2 {
    grid-row: 3;
    grid-column: 5 / 6;
} 

.servicios__item3 {
    grid-row: 5;
    grid-column: 2 / 3;
} 

.servicios__item4 {
    grid-row: 7;
    grid-column: 5 / 6;
}

.servicios__item5 {
    grid-row: 9;
    grid-column: 2 / 3;
} 

.servicios__item6 {
    grid-row: 11;
    grid-column: 5 / 6;
} 

.servicios__img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.servicios__h3 {
    margin: 0.7rem;
    border: 0.5rem solid #e2e3e7;
    box-shadow: 0.3rem 0.3rem #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.servicios__h3 a{
    font-size: 2rem;
    text-decoration: none;
    color: black
}

.servicios__ul {
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.servicios__ul li{
    font-size: 1.3rem;
    margin-top: 1rem;
} 

.servicios__p {
    font-size: 150%;
}

@media (max-width: 1500px) {
    .servicios__container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .servicios__item1, .servicios__item2, .servicios__item3, .servicios__item4, .servicios__item5, .servicios__item6 {
        width: 35rem;
        margin: 5rem;
    }
}

@media (max-width: 768px) {
    .servicios__item1, .servicios__item2, .servicios__item3, .servicios__item4, .servicios__item5, .servicios__item6{
        width: 25rem;
        margin: 5rem;
    }

    .servicios__img{
        object-fit:fill;
    }

    .servicios__h3 a{
        font-size: 1.5rem;
    }
}

@media (max-width: 478px) {
    .servicios__item1, .servicios__item2, .servicios__item3, .servicios__item4, .servicios__item5, .servicios__item6 {
        width: 20rem;
        height: 23rem;
        margin: 2rem;
    }

    .servicios__h2{
        font-size: 1.5rem;
    }

    .servicios__ul li{
        font-size: 1rem;
        margin-top: 0.5rem;
    }

}

/* Estilo para Contacto */
.contacto {
    background-color: #a29f9f;
    margin-top: 10rem;
    height: 50rem;
}

.contacto__map{
    border-radius: 4px;
    border: 2px solid black;
}

.contacto__h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo de Footer */
footer {
    background-color: #2a2a2a;
    margin-top: 10rem;
    
}

.footer__p{
    display: flex;
    justify-content: center;
    color: #fff;
}

.footer__ul{
    margin: 0 10px;
    list-style: none;
}

.footer__img {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 2vw;
}

@media (max-width: 478px) {
    .footer__img {
        width: 1.5rem;
    }
    
    .footer__p {
        font-size: x-small;
    }
}

/* Estilos para las Pages */
.pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
}

.pages__img{
    margin-top: 40%;
    margin-left: 15%;
    width: 70%;
}

.pages__h2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3vw;
    text-align: center;
    color: black;
}

.pages__ul{
    padding-left: 30%;
    text-align: start;
    list-style: decimal;

}

