* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#pagesfix footer{
    margin-top: 45%;
}

body {
    background-color: #ffffff;
}

/* Estilos generales para el header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 3vw;
}

.header__container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

/* Estilos para el título */
.home__h1 {
    font-size: 1.5em;
    margin: 0;
    margin-left: 1rem;
    text-transform: uppercase;
    color: black;
}

/* Estilos para el logo */
.header__img {
    height: 2rem;
    position: relative;
    opacity: 0.9;
    border-radius: 5px;
}

/* Estilos para Home */
.home {
    background-image: url(Media/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.phrase {
    font-size: 3vw;
    text-align: center;
    color: whitesmoke;
    font-family: 'Delicious Handrawn', cursive;
}

@media (max-width: 768px) {
    .phrase{
        font-size: 1.5rem;
    }
}

/* Estilos para Nosotros */
.nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    height: 15rem;
    background-image: url(Media/dos\ abogados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: whitesmoke;
}

.nosotros__main h2{
    color: black;
}

.nosotros__main{
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #777777;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros__h{
    font-size: 5vw;
}

.nosotros__p {
    font-weight: bold;
    text-align: center;
    width: 75%;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .nosotros__p {
        font-size: 1.3rem;
    }
}

.nosotros__h2 {
    font-size: 2vw;
}

/* Estilos para Soluciones */

.servicios__container {
    display: grid;
    justify-content: center;
    align-content: center;
}

.servicios__item {
    display: grid;
    grid-template-columns: repeat(3, 7.5rem);
    grid-template-rows: repeat(3, 5rem);
}

.servicios__h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.servicios__img {
    width: 10rem;
    height: 10rem;
    border-radius: 4px;
    border: solid black;
    background-image: url(Media/Civil.jpg);
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

.servicios__h2 {
    font-size: 1.2rem;
    text-align: center;
}

.servicios__p {
    font-size: 150%;
}

/* Estilo para Contacto */
.contacto {
    background-color: #a29f9f;
    margin-top: 10rem;
    height: 50rem;
}

.contacto__map{
    border-radius: 4px;
    border: 2px solid black;
}

.contacto__h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo de Footer */
.footer {
    background-color: #2a2a2a;
    margin-top: 10rem;
    
}

.footer__p{
    display: flex;
    justify-content: center;
    color: #fff;
}

.footer__ul{
    margin: 0 10px;
    list-style: none;
}

.footer__img {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 2vw;
}

@media (max-width: 478px) {
    .footer__img {
        width: 1.5rem;
    }
    
    .footer__p {
        font-size: x-small;
    }
}

/* Estilos para las Pages */
.pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
}

.pages__img{
    margin-top: 40%;
    margin-left: 15%;
    width: 70%;
}

.pages__h2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3vw;
    text-align: center;
    color: black;
}

.pages__ul{
    padding-left: 30%;
    text-align: start;
    list-style: decimal;

}

