@import "../Base/extends";
@import "../Base/mixins";
@import "../Base/listas";
@import "../Base/variables";

.header__pages {
    @include display-flex (space-between, center);
    background-color: nth($colores, 3);
    width: 100%;

    .header__container {
        @extend %display-flex;
        margin-left: 1rem;

        h1 {
            font-size: 1.5rem;
            margin: 0;
            margin-left: 1rem;
            text-transform: uppercase;
            color: nth($colores, 1);

            @include movile {
                font-size: 1.2rem;
            }
        }

        .header__img {
            height: 2.5rem;
            position: relative;
            border-radius: 5px;
        }
    }


}

.pages {
    @extend %display-flex;
    flex-direction: column;
    height: 10rem;

    .slide {
        margin-top: 10rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .pages__h2 {
        margin-top: 25rem;
        font-size: 2.5rem;
        text-align: center;
        color: nth($colores, 1);
    }

    .pages__ul {
        margin-top: 5rem;
        padding-left: 30%;
        text-align: start;
        list-style: decimal;
    }
}